<header
  id="header"
  class="bg-[#050047]/80 transition duration-500 fixed w-full z-20 "
>
  <div
    id="header-inner"
    class="max-w-[1200px] mx-auto flex items-center justify-between text-white"
  >
    <img
      src="/images/logo-plieger-groep.png"
      alt="Plieger logo"
      class="w-44 h-12 object-cover"
    />
    <button
      id="hamburger-menu-btn"
      class="hover:bg-white/10 h-16 w-16 grid place-items-center"
    >
      <svg
        viewBox="0 0 24 24"
        class="h-9 w-9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.75 9H20.25M3.75 15.75H20.25"
          stroke="white"
          stroke-width="2"
          stroke-linecap="square"></path>
      </svg>
    </button>
  </div>
</header>

<ul id="navbar" class="hidden lg:flex lg:items-center">
  <li>
    <a
      href="#"
      class="leading-[3] lg:m-2 lg:text-center px-4 block hover:bg-white/10"
      >Over ons</a
    >
  </li>
  <li>
    <a
      href="#"
      class="leading-[3] lg:m-2 lg:text-center px-4 block hover:bg-white/10"
      >Onze mensen</a
    >
  </li>
  <li>
    <a
      href="#"
      class="leading-[3] lg:m-2 lg:text-center px-4 block hover:bg-white/10"
      >Contact</a
    >
  </li>
</ul>
